body {
  font-family: Arial, sans-serif;
  background-image: url("https://github.com/Vini557gato/minecraft.EpiCraft-server/blob/main/fundo.png?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  text-align: center;
  padding-bottom: 10px;
}

.conteudo {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 15px;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.logo img {
  width: 60px;
  height: 60px;
}

.titulo h1 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

.barra {
  background-color: #0a620a;
  width: 100%;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.borda {
  background-color: #084a08;
  width: 100%;
  height: 5px;
  position: absolute;
  top: 120px;
  left: 0;
  z-index: 0;
}

/* MENU */
.menu {
  justify-content: center;
  position: absolute;
  margin-top: 10px;
  display: flex;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: row;
}

.menu a {
  padding: 8px 14px;
  margin: 0 5px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.menu a:hover {
  background-color: #084a08;
}

.menu .active {
  background-color: #0a620a;
  font-weight: bold;
  animation: pulse 0.3s ease;
}

/* ======== ABAS ======== */
.abas {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

.aba {
  display: none;
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.aba.ativa {
  display: block;
  opacity: 1;
  transform: translateX(0);
}

.linha3 {
  position: absolute;
  color: #fff;
  z-index: 3;
  top: 0px;
  right: 0px;
}

.version {
  font-weight: bold;
  text-align: center;
  display: flex;
  position: fixed;
  padding: 5px;
  flex-direction: row;
  right: 0px;
  bottom: 0px;
}

.aviso {
  font-size: 2vh;
  white-space: nowrap;
  align-items: center;
  display: flex;
  position: fixed;
  padding: 0px;
  bottom: 1vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inicio {

}

/* Animação botão */
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
