body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0a620a;
    padding: 20px;
    text-align: left;
    margin-left: 10px
}

header nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

section {
    padding: 40px 20px;
    text-align: center;
}

